# Byte-compiled / optimized / DLL files
__pycache__/

# Datas
data/
*model*/


# Files
*.lock
*.json
.DS_Store
*.zip
Aicup_Text_Aug/CwnGraph/
*.pyobj
CTAtool/CwnGraph/
*.csv
*.txt
risk_cls/Classification_train_sched.py
test.py
QA_train_1.py
utils.py
